SHELL=/bin/bash
umask 0002
alias ll='ls -alF'
alias ls='ls --color=auto'
alias lh='ll -h'
alias cd..='cd ..'
alias utf82fr='iconv -f UTF-8 -t latin1'
alias gen='gen.sh -o /data/sub_es/balisep'

#adding to PATH
function add2pathif {
	# checks if path contains $1
	local n=0
	local old_ifs=${IFS}
	IFS=":"; for p in ${PATH}; do
		if [ "$p" == "$1" ]; then
			n=$((n+1))
		fi
	done

	IFS=${old_ifs}
	if [ $n -eq 0 ] && [ -d "$1" ]; then
		#PATH supposed not empty
		echo ":$1"
	else
		echo ""
	fi
}
PATH=${PATH}$(add2pathif /data/sub_es/balisep/tbtniv)

# creating directory $TMP_BALISEP
if [ ! -n "${TMP_BALISEP}" ]; then
	declare -r TMP_BALISEP=/tmp/balisep/
fi

{ mkdir -p "${TMP_BALISEP}"; } > /dev/null 2>&1
if [ $? -ne 0 ]; then
	echo "impossible de creer le repertoire ${DST_DIR}" >&2
	exit 1
fi
chmod go+w "${TMP_BALISEP}" > /dev/null 2>&1

if [ ! -e "${TMP_BALISEP}" ] || [ ! -d "${TMP_BALISEP}" ]; then
	exit 1
fi

